header#header

    h2= __('SelectLang')
    ol
        li
            a(href="/") #{__('DefaultLang')}
        li
            a(href="/?lang=en") #{__('English')}
        li
            a(href="/?lang=ru") #{__('Russian')}

    h1= title
