header
    div.full-screen
        h1= title

        button(type='button' onclick="toggleHiden()").button-line #{__('SelectLang')}
        ul#language-list.hide
            li
                a(href="/", onclick="toggleHiden()") #{__('DefaultLang')}
            li
                a(href="/?lang=en", onclick="toggleHiden()") #{__('English')}
            li
                a(href="/?lang=ru", onclick="toggleHiden()") #{__('Russian')}

