extends layout

block content

  h2= 'try these links:'
  ol
    li
      a(href="/") #{'default lang'}
    li
      a(href="/?lang=en") #{'manually set default lang'}
    li
      a(href="/?lang=ru") #{'russian lang'}

  h1= title
  h2= __('Hello')

  mixin article(post)
    .article
      .article-wrapper
        h2= post.title
        h5= post.description
        p #{post.content}


  mixin list(id, posts)
    each item in posts
      +article(item)
    //ul(id=id)
    //  each item in posts
    //    li= item.title

  +list('posts-list', posts)